<% provide(:title,"Help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".help_ruby" %>
  <%= link_to "Rails tutorial help page","https://www.railstutorial.org/help" %>
  <%= t ".help_app" %>
  <em>
  <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book" %>
  </em>
</p>
